<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ✅ user_idはcurrent_userから渡すので不要 -->

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tag_ids, "タグ" %><br>
    <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name do |b| %>
      <div class="tag-checkbox">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :status, "投稿の状態", style: "display: block" %>
    <%= form.select :status, Post.statuses.keys.map { |k| [I18n.t("enums.post.status.#{k}"), k] } %>
  </div>

  <div>
    <%= form.submit "投稿する" %>
  </div>
<% end %>
