<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<% if params[:tag_id].present? %>
  <% current_tag = Tag.find_by(id: params[:tag_id]) %>
  <% if current_tag %>
    <p>
      タグ「<%= current_tag.name %>」で絞り込み中（<%= current_tag.posts_count %>件）
      （<%= link_to "全て表示", posts_path %>）
    </p>
  <% end %>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= turbo_frame_tag post do %>
      <%= render partial: "content", locals: { post: post } %>
    <% end %>
  <% end %>
</div>

<%= turbo_frame_tag "new_post" do %>
  <%= link_to "新規投稿", new_post_path %>
<% end %>

<%= link_to "ホームに戻る", root_path %>
